@page
@model MathGame.Pages.Games.RulesModel
@{
}


<body class="imgBackground" style="background-image: url('../images/scores.png');">

    <h1 class="text-center">Rules</h1>

    <form class="scoresForm text-center">
        <table class="center">
            <p>Help the fairy get back to her Castle by solving these math problems!</p>
            <ul>
                <li>Enter your name</li>
                <li>Enter your age</li>
                <li>Choose a type of Math</li>
            </ul>
            <p>At the end see how your scores compares!</p>
        </table>
    </form>
</body>