@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<body class="imgBackground"  style="background-image: url('../images/CASTLE.png');">
    <div class="text-center">
        <h1 class="display-4">Fairytale Math</h1>
    </div>
    <form class="startForm text-center" method="post">
        <p class="text-center font-weight-bold">
            Tell us your name and age
        </p>
        <hr/>
        <div class="form-row">
            <div class="col">
                <input id="Name" asp-for="@Model.PlayerObj.Name" type="text" class="form-control" placeholder="Name">
            </div>
            <div class="col">
                <input id="Age" asp-for="@Model.PlayerObj.Age" type="text" class="form-control" placeholder="Age">
            </div>
        </div>
        <br />
        <div class="text-center">
            <p class="font-weight-bold">
                Choose your game type:
            </p>
            <hr />

            @for (int i = 0; i < Model.GameTypes.Length; i++)
            {
                <input type="radio" asp-for="GameId" value="@(i+1)" id="inlineRadio@(i+1)" /> 
                <label class="form-check-label">@Model.GameTypes[i]</label>
            }
        </div>
        <br />
        <button class="btn btn-primary" onclick="return Validate()">Start Game</button>
    </form>
</body>

@section Scripts{
    <script>
        function Validate() {
            if (document.getElementById("Name").value == "") {
                swal('Error', 'Please put in your name', 'error')
                return false;
            }
            if (document.getElementById("Age").value == "") {
                swal('Error', 'Please put in your age', 'error')
                return false;
            }
            if (document.getElementById("inlineRadio1").checked == false && document.getElementById("inlineRadio2").checked == false
                && document.getElementById("inlineRadio3").checked == false && document.getElementById("inlineRadio4").checked == false) {
                swal('Error', 'Please select the type of game you want to play', 'error')
                return false;
            }
            else return true;
        }
    </script>
}
