@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Fairytale Math Game</h1>
    <hr />
</div>
<form class="startForm text-center" method="post">
    <p class="text-center font-weight-bold">
        Tell us your name and age
    </p>
    <div class="form-row">
        <div class="col">
            <input id="Name" asp-for="@Model.PlayerObj.Name" type="text" class="form-control" placeholder="Name">
        </div>
        <div class="col">
            <input id="Age" asp-for="@Model.PlayerObj.Age" type="text" class="form-control" placeholder="Age">
        </div>
    </div>
    <br />
    <div class="text-center">
        <p class="font-weight-bold">
            Choose your game type:
        </p>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
            <label class="form-check-label" for="inlineRadio1">Addition</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
            <label class="form-check-label" for="inlineRadio2">Subtraction</label>
        </div>
    </div>
    <br />
    <button class="btn btn-primary" onclick="return Validate()">Start Game</button>
</form>

@section Scripts{
    <script>
        function Validate() {
            if (document.getElementById("Name").value == "") {
                swal('Error', 'Please put in your name', 'error')
                return false;
            }
            if (document.getElementById("Age").value == "") {
                swal('Error', 'Please put in your age', 'error')
                return false;
            }
            if (document.getElementById("inlineRadio1").checked == false && document.getElementById("inlineRadio2").checked == false) {
                swal('Error', 'Please select the type of game you want to play', 'error')
                return false;
            }
            else return true;
        }
    </script>
}
